<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.vars.title %></title>
    <link rel="icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#343a40" />
    <meta name="description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters"/>
    <meta name="keywords" content="covid-19 sars-cov-2 coronavirus ncov open-source science research model hospital covid ventilator opensource modelling data neherlab outbreak simulation population"  />
    <!-- Open Graph general -->
    <meta property="og:title" content="COVID-19 Scenarios"/>
    <meta property="og:site_name" content="COVID-19 Scenarios"/>
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.vars.webRoot %>" />
    <meta property="og:description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.vars.webRoot %>/icons/icon-512x512.png"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.vars.title %>" />
    <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.vars.webRoot %>" />
    <meta name="twitter:description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters" />

    <link rel="manifest" href="/manifest.json"/>
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.vars.webRoot %>/icons/apple-icon-180x180.png">



  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
